{% extends 'base.html.twig' %}

{% block navigation %}
    <a class="nav-item nav-link " href="{{ path('app_logout') }}">Return Card</a>
    <a class="nav-item nav-link " href="{{ path('index') }}">Choose Operation</a>
{% endblock %}