{% extends 'base.html.twig' %}

{% block navigation %}
    <a class="nav-item nav-link " href="{{ path('index') }}">Choose Operation</a>
{% endblock %}

{% block body %}
    {% if not is_granted('ROLE_CLIENT') %}
        Commission for operations is <b>{{ commission }}%</b><br>
    {% endif %}
    {% block user_body %}
        {% endblock %}
{% endblock %}